## DQuery
Link: [Problem](https://www.spoj.com/problems/DQUERY/)

Code: [boop](dquery.cpp)

## MKTHNUM
Link: [Problem](https://www.spoj.com/problems/MKTHNUM/)

Code: [boop](kthnum.cpp)
