Linear sieve and values of multiplicative functions

## Sum of Totient Function
Link: [Problem](https://judge.yosupo.jp/problem/sum_of_totient_function)

Code: [boop](https://judge.yosupo.jp/submission/281863)
