Square matrix with basic operations

## Fibonacci Numbers
Link: [Problem](https://cses.fi/problemset/task/1722)

Code: [boop](https://cses.fi/paste/58c3d6ed6eecc162c26dd7/)