Count different gcds for all integers in [l, r]

## Josuke and Complete Graph
Link: [Problem](https://codeforces.com/contest/1780/problem/E)

Code: [boop](https://codeforces.com/contest/1780/submission/317503326)
