Subset sum convolution

## Subset Convolution
Link: [Problem](https://judge.yosupo.jp/problem/subset_convolution)

Code: [boop](https://judge.yosupo.jp/submission/282034)