Xor convolution

## Bitwise Xor Convolution
Link: [Problem](https://judge.yosupo.jp/problem/bitwise_xor_convolution)

Code: [boop](https://judge.yosupo.jp/submission/282032)