Berlekamp-Massey + n-th term of linear recurrence (n^2)

## Nudnik Photographer
Link: [Problem](https://acm.timus.ru/problem.aspx?space=1&num=1260&locale=en)

Code: [boop](https://acm.timus.ru/getsubmit.aspx/10946174.cpp),
[T permissions](verification.cpp)
