Split graph into pairs of edges with a common node

## Choose Your Queries
Link: [Problem](https://codeforces.com/contest/2025/problem/F)

Code: [boop](https://codeforces.com/contest/2025/submission/317514422),
[CF permissions](verification.cpp)
