Prime counting in n^3/4 and n^2/3

## Counting Primes
Link: [Problem](https://judge.yosupo.jp/problem/counting_primes)

Code: [boop 0.75](https://judge.yosupo.jp/submission/281860), [boop 0.67](https://judge.yosupo.jp/submission/281861)

