## Monster Game II
Link: [Problem](https://cses.fi/problemset/task/2085/)

Code: [boop](https://cses.fi/paste/4646f328caf8bd62c272de/)

## Line Add Get Min
Link: [Problem](https://judge.yosupo.jp/problem/line_add_get_min)

Code: [boop](https://judge.yosupo.jp/submission/282051)

## Lena and Queries
Link: [Problem](https://codeforces.com/contest/678/problem/F)

Code: [boop](https://codeforces.com/contest/678/submission/317673256)