Calc (n k) mod m (naively, by precomputing x!)

## Binomial Coefficients
Link: [Problem](https://cses.fi/problemset/task/1079/)

Code: [boop](https://cses.fi/paste/ba4a999d4b54c01fc254c3/)
