## Area of Union of Rectangles
Link: [Problem](https://judge.yosupo.jp/problem/area_of_union_of_rectangles)

Code: [boop](https://judge.yosupo.jp/submission/282227)