Checks if (n k) is even

## Xor pyramid
Link: [Problem](https://cses.fi/problemset/task/2419)

Code: [boop](https://cses.fi/paste/35bc6bec0b117d52c25412/)
