LCA (binary lifting and RMQ on euler tour)

## Distance Queries
Link: [Problem](https://cses.fi/problemset/task/1135)

Code: [binlift](https://cses.fi/paste/3f0f66ba01f41948c26e5c/),
[rmq](https://cses.fi/paste/ef22e5d939a31518c26f0b/)
