## Nested Ranges Count
Link: [Problem](https://cses.fi/problemset/task/2169/)

Code: [boop](ranges_cnt.cpp)
