Maintain the sum of upper/lower half of elements in a set

## Serval and Colorful Array (Hard Version)
Link: [Problem](https://codeforces.com/contest/2085/problem/F2)

Code: [boop](https://codeforces.com/contest/2085/submission/317528350),
[CF permissions](verification.cpp)
