Offline queries as ranges

## Disconnected Graph
Link: [Problem](https://codeforces.com/gym/100551/problem/E)

Code: [CF permissions](dynconn2.cpp)

## Distance Component Size Query
Link: [Problem](https://atcoder.jp/contests/abc356/tasks/abc356_f)

Code: [boop](dynconn1.cpp)
