sos & related

## Jzzhu and Numbers
Link: [Problem](https://codeforces.com/contest/449/problem/D)

Code: [boop](https://codeforces.com/contest/449/submission/317519135),
[CF permissions](verification.cpp)
