xor basis/Gaussian reduction mod 2

## Godzilla and Pretty XOR
Link: [Problem (permission issues expected)](https://codeforces.com/group/qcIqFPYhVr/contest/203881/problem/S)

Code: [boop](https://codeforces.com/group/qcIqFPYhVr/contest/203881/submission/317399807),
[CF permissions](verification.cpp)
