Atcoder's convolution (fft)


## Thief in a Shop
Link: [Problem](https://codeforces.com/contest/632/problem/E)

Code: [boop](https://codeforces.com/contest/632/submission/317519896),
[CF permissions](verification.cpp)
