Prefix sums of dirichlet convolutions w/o preprocessing

## Sum of Divisors
Link: [Problem](https://cses.fi/problemset/task/1082/)

Code: [boop](https://cses.fi/paste/aa7856f22cac3a4bc26bc6/)