Virtual tree

## Sum of Tree Distance
Link: [Problem](https://atcoder.jp/contests/abc359/tasks/abc359_g)

Code: [boop](https://atcoder.jp/contests/abc359/submissions/65301817)