A relatively generic Mo's implementation

## D-query
Link: [Problem](https://www.spoj.com/problems/DQUERY/)

Code: [boop](https://www.spoj.com/status/ns=34509460),
[SPOJ permissions](verification.cpp)
