Calc sequences of {1, -1} consisting of n '1', m '-1' such that all pref sum >= -pr

## Balanced Subsequences
Link: [Problem](https://codeforces.com/contest/1924/problem/D)

Code: [boop](https://codeforces.com/contest/1924/submission/317398279), 
[CF permissions](verification.cpp)
